<div class="ns_creditsHolder">
    <div class="ns_creditsLineThin"></div>
    <h2><%= credits_title %></h2>
    <p><%= credits_sub_title %></p>

    <div class="ns_onwardJourneys">
        <div class="ns_creditsLineThick"></div>
        <h2><%= credits_more_title %></h2>
        <div class="ns_creditsLineThin"></div>
        <a href="http://google.com" target="_top">related link 1</a>
        <a href="" target="_top">related link 2</a>
        <a href="" target="_top">related link 3</a>
        <span><%= credits_external_sites_message %></span>
    </div>
</div>