<div class="section--method fluid-inner">
    <h2><%= method_header %></h2>
    <p><%= method_text %></p>
</div>


<div class="section--credits fluid-inner hidden">
    <div class="ns_creditsLineThin"></div>
    <h2><%= credits_title %></h2>
    <p><%= credits_sub_title %></p>

    <div class="footer_share">
        <h2 class="footer_share__title">
            Share this page
            <a class="footer_share__about" href="http://www.bbc.co.uk/help/web/sharing.shtml" target="_top">About sharing</a>
        </h2>
        <a href="mailto:?subject=Shared%20via%20BBC%20News&amp;body=Find%20out%20if%20you%20have%20what%27s%20needed%20to%20compete%20at%20%23Rio2016.%20http%3A%2F%2Fwww.test.bbc.co.uk%2Fsport%2Ffootball%2F23056644" class="footer_share__link footer_share__link--email" target="_top">
            <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/email.png" alt="email share">
        </a>

        <a href="http://www.facebook.com/dialog/feed?app_id=58567469885&amp;redirect_uri=http%3A%2F%2Fwww.test.bbc.co.uk%2Fsport%2Ffootball%2F23056644&amp;link=http%3A%2F%2Fwww.test.bbc.co.uk%2Fsport%2Ffootball%2F23056644" class="footer_share__link footer_share__link--facebook" target="_top">
            <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/facebook.png" alt="facebook share">
        </a>

        <a href="https://twitter.com/intent/tweet?text=Find%20out%20if%20you%20have%20what%27s%20needed%20to%20compete%20at%20%23Rio2016.%26amp%3Burl%3Dhttp%3A%2F%2Fwww.test.bbc.co.uk%2Fsport%2Ffootball%2F23056644" data-social-url="https://twitter.com/intent/tweet?text=Find%20out%20if%20you%20have%20what%27s%20needed%20to%20compete%20at%20%23Rio2016.%26amp%3Burl%3Dhttp%3A%2F%2Fwww.test.bbc.co.uk%2Fsport%2Ffootball%2F23056644" data-target-url="http%3A%2F%2Fbbc.in%2F1UCVZje" class="footer_share__link footer_share__link--twitter" target="_top">
            <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/twitter.png" alt="twitter share">
        </a>
    </div>

    <div class="ns_onwardJourneys">
        <div class="ns_creditsLineThick"></div>
        <h2><%= credits_more_title %></h2>
        <div class="ns_creditsLineThin"></div>
        <a href="http://www.bbc.co.uk/sport/olympics/rio-2016" target="_top">Get all the latest news, reports and video from the Olympics </a>
        <a href="http://www.bbc.co.uk/sport/olympics/rio-2016/schedule" target="_top">Who is competing when? Plan your Olympics viewing with our sport-by-sport schedule</a>
        <span class="external-links-text"><%= credits_external_sites_message %></span>
    </div>
</div>