<section class="section section--hero" id="section--hero">
    <center>
        <div class="hero__titles">
            <h1 class="hero__heading"><%= hero_title %></h1>
            <p class="hero__subheading"><%= hero_subtitle %></p>
            <div class="question question13" data-question="13">
                <p><%= question_13_question %></p>
                <div class="answers">
                    <input class="age--input" type="text" name="age--answer" value="35">
                    <button class="button--next button--answer age--button" type="button" data-score="0"> <%= start_quiz %> </button>
                </div>
            </div>
        </div>
    </center>
</section>
<div class="hero__chevron"></div>
<div class="hero__chevron__bottom"></div>

