<section class="section hero" id="section--hero">
    <center>
        <div class="hero__titles">
            <h1 class="hero__heading"><%= hero_title %></h1>
            <p class="hero__subheading"><%= hero_subtitle %></p>
        </div>
    </center>
</section>
