<section class="section hero" id="section--hero">
    <center>
        <div class="hero__titles">
            <h1 class="hero__heading">TITLE</h1>
            <p class="hero__subheading">Sub Title</p>
        </div>
    </center>
</section>
