<section class="section section--questions" id="section--questions">
    <div id="quiz--body" class="quiz--body">
        <div class="questions hidden">
            <div class="question question1" data-question="1">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question1__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_1_number %>" />
                        <div class="question__number"><%= question_1_number %></div>
                        <p class="question__text"><%= question_1_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_1_score_highest %>"> <%= question_1_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_1_score_high %>">    <%= question_1_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_1_score_med %>">     <%= question_1_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_1_score_low %>">     <%= question_1_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_1_score_lowest %>">  <%= question_1_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question1__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_1_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question2" data-question="2">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question2__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_2_number %>" />
                        <div class="question__number"><%= question_2_number %></div>
                        <p class="question__text"><%= question_2_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_2_score_highest %>"> <%= question_2_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_2_score_high %>">    <%= question_2_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_2_score_med %>">     <%= question_2_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_2_score_low %>">     <%= question_2_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_2_score_lowest %>">  <%= question_2_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question2__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_2_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question3" data-question="3">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question3__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_3_number %>" />
                        <div class="question__number"><%= question_3_number %></div>
                        <p class="question__text"><%= question_3_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_3_score_highest %>"> <%= question_3_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_3_score_high %>">    <%= question_3_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_3_score_med %>">     <%= question_3_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_3_score_low %>">     <%= question_3_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_3_score_lowest %>">  <%= question_3_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question3__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_3_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question4" data-question="4">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question4__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_4_number %>" />
                        <div class="question__number"><%= question_4_number %></div>
                        <p class="question__text"><%= question_4_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_4_score_highest %>"> <%= question_4_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_4_score_high %>">    <%= question_4_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_4_score_med %>">     <%= question_4_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_4_score_low %>">     <%= question_4_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_4_score_lowest %>">  <%= question_4_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question4__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_4_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question5" data-question="5">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question5__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_5_number %>" />
                        <div class="question__number"><%= question_5_number %></div>
                        <p class="question__text"><%= question_5_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_5_score_highest %>"> <%= question_5_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_5_score_high %>">    <%= question_5_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_5_score_med %>">     <%= question_5_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_5_score_low %>">     <%= question_5_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_5_score_lowest %>">  <%= question_5_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question5__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_5_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question6" data-question="6">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question6__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_6_number %>" />
                        <div class="question__number"><%= question_6_number %></div>
                        <p class="question__text"><%= question_6_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_6_score_highest %>"> <%= question_6_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_6_score_high %>">    <%= question_6_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_6_score_med %>">     <%= question_6_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_6_score_low %>">     <%= question_6_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_6_score_lowest %>">  <%= question_6_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question6__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_6_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question7" data-question="7">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question7__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_7_number %>" />
                        <div class="question__number"><%= question_7_number %></div>
                        <p class="question__text"><%= question_7_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_7_score_highest %>"> <%= question_7_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_7_score_high %>">    <%= question_7_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_7_score_med %>">     <%= question_7_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_7_score_low %>">     <%= question_7_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_7_score_lowest %>">  <%= question_7_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question7__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_7_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question8" data-question="8">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question8__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_8_number %>" />
                        <div class="question__number"><%= question_8_number %></div>
                        <p class="question__text"><%= question_8_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_8_score_highest %>"> <%= question_8_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_8_score_high %>">    <%= question_8_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_8_score_med %>">     <%= question_8_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_8_score_low %>">     <%= question_8_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_8_score_lowest %>">  <%= question_8_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question8__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_8_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question9" data-question="9">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question9__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_9_number %>" />
                        <div class="question__number"><%= question_9_number %></div>
                        <p class="question__text"><%= question_9_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_9_score_highest %>"> <%= question_9_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_9_score_high %>">    <%= question_9_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_9_score_med %>">     <%= question_9_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_9_score_low %>">     <%= question_9_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_9_score_lowest %>">  <%= question_9_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question9__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_9_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question10" data-question="10">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question10__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_10_number %>" />
                        <div class="question__number"><%= question_10_number %></div>
                        <p class="question__text"><%= question_10_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_10_score_highest %>"> <%= question_10_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_10_score_high %>">    <%= question_10_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_10_score_med %>">     <%= question_10_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_10_score_low %>">     <%= question_10_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_10_score_lowest %>">  <%= question_10_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question10__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_10_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question11" data-question="11">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question11__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_11_number %>" />
                        <div class="question__number"><%= question_11_number %></div>
                        <p class="question__text"><%= question_11_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_11_score_highest %>"> <%= question_11_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_11_score_high %>">    <%= question_11_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_11_score_med %>">     <%= question_11_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_11_score_low %>">     <%= question_11_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_11_score_lowest %>">  <%= question_11_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question11__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_11_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question12" data-question="12">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question12__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_12_number %>" />
                        <div class="question__number"><%= question_12_number %></div>
                        <p class="question__text"><%= question_12_question %></p>
                        <div class="answers">
                            <button class="button--answer" type="button" data-score="<%= question_12_score_highest %>"> <%= question_12_highest %> </button>
                            <button class="button--answer" type="button" data-score="<%= question_12_score_high %>">    <%= question_12_high %>    </button>
                            <button class="button--answer" type="button" data-score="<%= question_12_score_med %>">     <%= question_12_mid %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_12_score_low %>">     <%= question_12_low %>     </button>
                            <button class="button--answer" type="button" data-score="<%= question_12_score_lowest %>">  <%= question_12_lowest %>  </button>
                        </div>
                    </div>
                </div>
                <div class="question__feedback question12__feedback hidden">
                    <div class="chevron">
                        <p class="feedback__text"><%= question_12_feedback %></p>
                    </div>
                </div>
            </div>

            <div class="question question14" data-question="14">
               <div class="bbc-news-vj-grid-wrapper">
                    <div class="bbc-news-vj-grid-wrapper__fluid-inner">
                        <img class="question__icon question13__icon" src="<%= pathStatic %>/common/img/test_medal.png" alt="<%= olympic_medal_icon_alt_text %> <%= question_13_number %>" />
                        <div class="question__number"><%= question_14_number %></div>
                        <p class="question__text"><%= question_14_question %></p>
                        <div class="answers">
                            <button class="button--answer activity-level--answer" type="button" data-score="0" data-activity-level="1"> <%= question_14_high %> </button>
                            <button class="button--answer activity-level--answer" type="button" data-score="0" data-activity-level="2"> <%= question_14_mid %>  </button>
                            <button class="button--answer activity-level--answer" type="button" data-score="0" data-activity-level="3"> <%= question_14_low %>  </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
