 .bbc-news-vj-wrapper {

    div.section--hero {
        background: url('../img/hero_image_dark.jpg?v=#{$version}');
        background-position: -150px 0;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        margin-bottom: 40px;
        min-height: 530px;
        padding: 0;
        padding-top: 18px;
        text-align: center;
        top: -50px;
        @media (min-width: 600px){
            background-position: -65px 0;
        }
        @media (min-width: 720px){
            background-position: 0 0;
        }
        @media (min-width: 800px){
            min-height: 600px;
        }

        .hero__titles {
            margin: 0 auto;
            max-width: 500px;
            @media (min-width: 800px){
                max-width: 620px;
            }
            @media (min-width: 1008px){
                max-width: 550px;
            }
            @media (min-width: 1280px){
                max-width: 590px;
            }
        }

        h1, div, p, {
            color: #fff;
            padding: 0 12px 0 12px;
        }

        .hero__heading {
            font-size: 2em;
            line-height: 1.1em;
             @media (min-width: 800px){
                font-size: 2.5em;
             }
        }

        .hero__subheading {
            font-size: 1em;
             @media (min-width: 800px){
                font-size: 1.25em;
             }
        }

        .question--age {
            display:none;
        }

        .no-js-message {
            display: inherit;
            font-size: 2.5em;
            font-weight: 800;
        }

    }

    .hero__chevron {
        position: relative;
        text-align: center;
        height: 50px;
        z-index: 0;
        top: -160px;
        @media (min-width: 1008px){
            height:80px;
        }
    }

    .hero__chevron:before {
        background: url('../img/hero_chevron.png?v=#{$version}');
        background-position: -150px 0;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        transform: skew(0deg, 6deg);
    }

    .hero__chevron:after {
        background: url('../img/hero_chevron.png?v=#{$version}');
        background-position: -150px 0;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        transform: skew(0deg, -6deg);
    }

    .hero__chevron__bottom {
        height: 90px;
        margin-bottom: -210px;
        position: relative;
        top: -160px;
        z-index: 0;
        @media (min-width: 1008px){
            margin-bottom: -180px;
        }
        @media (min-width: 1200px){
            margin-bottom: -165px;
        }
    }

    .hero__chevron__bottom:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 50%;
        background-color: white;
        transform: skew(0deg, 6deg);
        z-index:999;
        @media (min-width: 768px){
            height:100px;
        }
    }

    .hero__chevron__bottom:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 90px;
        width: 50%;
        background-color: white;
        transform: skew(0deg, -6deg);
        z-index:999;
        @media (min-width: 768px){
            height:100px;
        }
    }
}

    body div.bbc-news-vj-wrapper-js-enabled .section {

    .no-js-message {
        display: none;
    }

    .age-button {
        background-color: #2E8840;
        border: 0;
        color: #fff;
        display: block;
        text-align: center;
        z-index:999;
    }

    .age-input {
        color: #000;
        height: auto;
        text-align: center;
        width: 65px;
        z-index:999;
    }

    .question--age {
        display: inherit;
        font-weight:800;
        margin:0;
    }
}