 .bbc-news-vj-wrapper {

    div.section--hero {
        background: url('../img/hero_image.jpg?v=#{$version}');
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        margin-bottom: 40px;
        min-height: 600px;
        padding: 0;
        padding-top: 18px;
        text-align: center;
        @media (min-width: 320px){
            min-height: 550px;
        }
        @media (min-width: 425px){
            min-height: 520px;
        }
        @media (min-width: 430px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 580px;
        }
        @media (min-width: 1008px){
            min-height: 545px;
        }
        @media (min-width: 1280px){
            min-height: 590px;
        }

        .hero__titles {
            margin: 0 auto;
            max-width: 500px;
            @media (min-width: 800px){
                max-width: 620px;
            }
            @media (min-width: 1008px){
                max-width: 550px;
            }
            @media (min-width: 1280px){
                max-width: 590px;
            }
        }

        h1, div, p, {
            color: #fff;
            padding: 0 12px 0 12px;
        }

        .hero__heading {
            font-size: 2em;
            line-height: 1.1em;
             @media (min-width: 800px){
                font-size: 2.5em;
             }
        }

        .hero__subheading {
            font-size: 1em;
             @media (min-width: 800px){
                font-size: 1.25em;
             }
        }

        .question--age {
            display:none;
        }

        .no-js-message {
            display: inherit;
            font-size: 2.5em;
            font-weight: 800;
        }

    }

    .hero__chevron {
        position: relative;
        text-align: center;
        height: 50px;
        z-index: 0;
        top: -160px;
        @media (min-width: 600px){
            height:70px;
        }
        @media (min-width: 1008px){
            height:80px;
        }
        @media (min-width: 1280px){
            height:100px;
        }
    }

    .hero__chevron:before {
        background: url('../img/hero_chevron.png?v=#{$version}');
        background-position: 100% 65%;
        background-size: 500%;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        transform: skew(0deg, 6deg);
        @media (min-width:375px){
            background-position: 100% 67%;
        }
        @media (min-width:430px){
            background-position: 100% 67%;
            background-size: 400%;
        }
        @media (min-width:600px){
            background-size: 300%;
        }
        @media (min-width:700px){
            background-position: 100% 68%;
        }
        @media (min-width:1280px){
            background-position: 100% 71%;
            background-size: 200%;
        }
    }

    .hero__chevron:after {
        background: url('../img/hero_chevron.png?v=#{$version}');
        background-position: 81% 100%;
        background-size: 500%;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        transform: skew(0deg, -6deg);
        @media (min-width:430px){
            background-position: 86% 100%;
            background-size: 400%;
        }
        @media (min-width:600px){
            background-position: 96% 100%;
            background-size: 300%;
        }
        @media (min-width:1280px){
            background-position: 71% 77%;
            background-size: 200%;
        }
    }

    .hero__chevron__bottom {
        height: 90px;
        margin-bottom: -210px;
        position: relative;
        top: -160px;
        z-index: 0;
        @media (min-width: 1008px){
            margin-bottom: -180px;
        }
        @media (min-width: 1200px){
            margin-bottom: -165px;
        }
    }

    .hero__chevron__bottom:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 50%;
        background-color: white;
        transform: skew(0deg, 6deg);
        z-index:999;
        @media (min-width: 768px){
            height:100px;
        }
    }

    .hero__chevron__bottom:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 90px;
        width: 50%;
        background-color: white;
        transform: skew(0deg, -6deg);
        z-index:999;
        @media (min-width: 768px){
            height:100px;
        }
    }
}

    body div.bbc-news-vj-wrapper-js-enabled .section {

    .no-js-message {
        display: none;
    }

    .age-button {
        background-color: #2E8840;
        border: 0;
        color: #fff;
        display: block;
        text-align: center;
        z-index:999;
        -webkit-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
        -moz-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
        -ms-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
        -o-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
        transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
        &:hover {
            background-color: #44A042;
        }
    }

    .age-input {
        color: #404040;
        height: auto;
        text-align: center;
        width: 65px;
        z-index:999;
    }

    .question--age {
        display: inherit;
        font-weight:800;
        margin:0;
    }
}