div.bbc-news-vj-direction--rtl {
    div.section--hero {
        direction: rtl;
    }
    div.section--questions {
        .quiz-body {
            direction: rtl;
        }
    }
    div.section--results {
        .result__title {
            .result__title__text-intro {
                direction: rtl;
            }
        }
        div.result {
            direction: rtl;
            .result__share-header {
                margin-left:8px;
            }
            .result__banner__categories {
                direction: ltr;
            }
            .result__banner__categories__icon__text {
                direction: rtl;
            }
        }
    }
    .section--method {
        direction: rtl;
        text-align: right;
    }
}

.bbc-news-vj-language--afrique {
    div.section--hero {
        min-height: 680px;
        @media (min-width: 320px){
            min-height: 650px;
        }
        @media (min-width: 371px){
            min-height: 620px;
        }
        @media (min-width: 442px){
            min-height: 560px;
        }
        @media (min-width: 600px){
            min-height: 600px;
        }
        @media (min-width: 800px){
            min-height: 675px;
        }
        @media (min-width: 1008px){
            min-height: 635px;
        }
        @media (min-width: 1280px){
            min-height: 715px;
        }
    }
}

.bbc-news-vj-language--arabic {
    div.section--hero {
        min-height: 515px;
        @media (min-width: 333px){
            min-height: 485px;
        }
        @media (min-width: 600px){
            min-height: 500px;
        }
        @media (min-width: 800px){
            min-height: 540px;
        }
        @media (min-width: 1008px){
            min-height: 500px;
        }
        @media (min-width: 1280px){
            min-height: 560px;
        }
    }
}

.bbc-news-vj-language--azeri {
    div.section--hero {
        @media (min-width: 320px){
            min-height: 580px;
        }
        @media (min-width: 331px){
            min-height: 550px;
        }
        @media (min-width: 486px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 615px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 615px;
        }
    }
}

.bbc-news-vj-language--bengali {
    div.section--hero {
        min-height: 580px;
        @media (min-width: 320px){
            min-height: 570px;
        }
        @media (min-width: 392px){
            min-height: 520px;
        }
        @media (min-width: 430px){
            min-height: 520px;
        }
        @media (min-width: 466px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 620px;
        }
        @media (min-width: 1008px){
            min-height: 575px;
        }
        @media (min-width: 1280px){
            min-height: 630px;
        }
    }
}

.bbc-news-vj-language--gahuza {
    div.section--hero {
        @media (min-width: 320px){
            min-height: 590px;
        }
        @media (min-width: 396px){
            min-height: 550px;
        }
        @media (min-width: 405px){
            min-height: 525px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 615px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 615px;
        }
    }
}

.bbc-news-vj-language--hausa {
    div.section--hero {
        min-height: 540px;
        @media (min-width: 411px){
            min-height: 490px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 580px;
        }
        @media (min-width: 1008px){
            min-height: 540px;
        }
        @media (min-width: 1280px){
            min-height: 570px;
        }
    }
}

.bbc-news-vj-language--hindi {
    div.section--hero {
        min-height: 580px;
        @media (min-width: 300px){
            min-height: 550px;
        }
        @media (min-width: 360px){
            min-height: 525px;
        }
        @media (min-width: 434px){
            min-height: 510px;
        }
        @media (min-width: 600px){
            min-height: 540px;
        }
        @media (min-width: 800px){
            min-height: 585px;
        }
        @media (min-width: 1008px){
            min-height: 540px;
        }
        @media (min-width: 1280px){
            min-height: 580px;
        }
    }
}

.bbc-news-vj-language--indonesia {
    div.section--hero {
        @media (min-width: 320px){
            min-height: 600px;
        }
        @media (min-width: 340px){
            min-height: 580px;
        }
        @media (min-width: 391px){
            min-height: 560px;
        }
        @media (min-width: 445px){
            min-height: 530px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 615px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 655px;
        }
    }
}

.bbc-news-vj-language--kyrgyz {
    div.section--hero {
        min-height: 680px;
        @media (min-width: 350px){
            min-height: 640px;
        }
        @media (min-width: 425px){
            min-height: 600px;
        }
        @media (min-width: 478px){
            min-height: 540px;
        }
        @media (min-width: 600px){
            min-height: 620px;
        }
        @media (min-width: 800px){
            min-height: 685px;
        }
        @media (min-width: 1008px){
            min-height: 635px;
        }
        @media (min-width: 1280px){
            min-height: 685px;
        }
    }
}

.bbc-news-vj-language--mundo {
    div.section--hero {
        min-height: 580px;
        @media (min-width: 365px){
            min-height: 530px;
        }
        @media (min-width: 425px){
            min-height: 520px;
        }
        @media (min-width: 600px){
            min-height: 550px;
        }
        @media (min-width: 800px){
            min-height: 610px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 610px;
        }
    }
}

.bbc-news-vj-language--nepali {
    div.section--hero {
        @media (min-width: 320px){
            min-height: 580px;
        }
        @media (min-width: 376px){
            min-height: 560px;
        }
        @media (min-width: 401px){
            min-height: 540px;
        }
        @media (min-width: 600px){
            min-height: 580px;
        }
        @media (min-width: 800px){
            min-height: 645px;
        }
        @media (min-width: 1008px){
            min-height: 595px;
        }
        @media (min-width: 1280px){
            min-height: 645px;
        }
    }
}

.bbc-news-vj-language--pashto {
    div.section--hero {
        min-height: 515px;
        @media (min-width: 390px){
            min-height: 515px;
        }
        @media (min-width: 445px){
            min-height: 460px;
        }
        @media (min-width: 600px){
            min-height: 490px;
        }
        @media (min-width: 800px){
            min-height: 540px;
        }
        @media (min-width: 1008px){
            min-height: 510px;
        }
        @media (min-width: 1280px){
            min-height: 580px;
        }
    }
}

.bbc-news-vj-language--persian {
    div.section--hero {
        min-height: 515px;
        @media (min-width: 476px){
            min-height: 460px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 580px;
        }
        @media (min-width: 1008px){
            min-height: 535px;
        }
        @media (min-width: 1280px){
            min-height: 580px;
        }
    }
}

.bbc-news-vj-language--portuguese {
    div.section--hero {
        min-height: 635px;
        @media (min-width: 322px){
            min-height: 600px;
        }
        @media (min-width: 390px){
            min-height: 540px;
        }
        @media (min-width: 434px){
            min-height: 515px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 610px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 610px;
        }
    }
}

.bbc-news-vj-language--russian {
    div.section--hero {
        min-height: 680px;
        @media (min-width: 350px){
            min-height: 650px;
        }
        @media (min-width: 391px){
            min-height: 595px;
        }
        @media (min-width: 425px){
            min-height: 600px;
        }
        @media (min-width: 478px){
            min-height: 540px;
        }
        @media (min-width: 600px){
            min-height: 620px;
        }
        @media (min-width: 800px){
            min-height: 685px;
        }
        @media (min-width: 1008px){
            min-height: 635px;
        }
        @media (min-width: 1280px){
            min-height: 685px;
        }
    }
}

.bbc-news-vj-language--somali {
    div.section--hero {
        .hero__heading {
            word-wrap: break-word;
            @media (min-width: 360px){
                word-wrap: normal;
            }
        }
        @media (min-width: 320px){
            min-height: 620px;
        }
        @media (min-width: 348px){
            min-height: 570px;
        }
        @media (min-width: 360px){
            min-height: 530px;
        }
        @media (min-width: 422px){
            min-height: 515px;
        }
        @media (min-width: 600px){
            min-height: 550px;
        }
        @media (min-width: 800px){
            min-height: 595px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 615px;
        }
    }
}

.bbc-news-vj-language--swahili {
    div.section--hero {
        @media (min-width: 320px){
            min-height: 580px;
        }
        @media (min-width: 331px){
            min-height: 550px;
        }
        @media (min-width: 346px){
            min-height: 530px;
        }
        @media (min-width: 475px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 615px;
        }
        @media (min-width: 1008px){
            min-height: 565px;
        }
        @media (min-width: 1280px){
            min-height: 615px;
        }
    }
}

.bbc-news-vj-language--tamil {
    div.section--hero {
        .hero__titles {
            max-width: 630px;
            .hero__heading {
                font-size: 2em;
            }
            .hero__subheading {
                font-size: 1.25em;
            }
        }
        min-height: 845px;
        @media (min-width: 367px){
            min-height: 745px;
        }
        @media (min-width: 375px){
            min-height: 700px;
        }
        @media (min-width: 445px){
            min-height: 640px;
        }
        @media (min-width: 600px){
            min-height: 690px;
        }
        @media (min-width: 800px){
            min-height: 685px;
        }
        @media (min-width: 1008px){
            min-height: 635px;
        }
        @media (min-width: 1280px){
            min-height: 685px;
        }
    }
}

.bbc-news-vj-language--ukrainian {
    div.section--hero {
        min-height: 540px;
        @media (min-width: 350px){
            min-height: 550px;
        }
        @media (min-width: 400px){
            min-height: 520px;
        }
        @media (min-width: 600px){
            min-height: 560px;
        }
        @media (min-width: 800px){
            min-height: 625px;
        }
        @media (min-width: 1008px){
            min-height: 575px;
        }
        @media (min-width: 1280px){
            min-height: 625px;
        }
    }
}

.bbc-news-vj-language--urdu {
    div.section--hero {
        min-height: 515px;
        @media (min-width: 390px){
            min-height: 515px;
        }
        @media (min-width: 434px){
            min-height: 495px;
        }
        @media (min-width: 445px){
            min-height: 490px;
        }
        @media (min-width: 498px){
            min-height: 460px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 580px;
        }
        @media (min-width: 1008px){
            min-height: 540px;
        }
        @media (min-width: 1280px){
            min-height: 590px;
        }
    }
}

.bbc-news-vj-language--uzbek {
    div.section--hero {
        min-height: 570px;
        @media (min-width: 330px){
            min-height: 550px;
        }
        @media (min-width: 428px){
            min-height: 520px;
        }
        @media (min-width: 439px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 600px;
        }
        @media (min-width: 1008px){
            min-height: 555px;
        }
        @media (min-width: 1280px){
            min-height: 620px;
        }
    }
}

.bbc-news-vj-language--vietnamese {
    div.section--hero {
        min-height: 560px;
        @media (min-width: 397px){
            min-height: 530px;
        }
        @media (min-width: 407px){
            min-height: 500px;
        }
        @media (min-width: 600px){
            min-height: 530px;
        }
        @media (min-width: 800px){
            min-height: 580px;
        }
        @media (min-width: 1008px){
            min-height: 535px;
        }
        @media (min-width: 1280px){
            min-height: 580px;
        }
    }
}

.bbc-news-vj-language--zhongwen {
    div.section--hero {
        min-height: 515px;
        @media (min-width: 390px){
            min-height: 465px;
        }
        @media (min-width: 600px){
            min-height: 500px;
        }
        @media (min-width: 800px){
            min-height: 540px;
        }
        @media (min-width: 1008px){
            min-height: 500px;
        }
        @media (min-width: 1280px){
            min-height: 530px;
        }
    }
}

