@import "./../../bower_components/normalize-scss/_normalize.scss";
@import "./../../bower_components/news-vj-css-defaults/css/main";
@import "./../../bower_components/sharetools/bin/templates/dropdown/share.scss"; // Developer: choose your sharetools of choice ('dropdown', 'buttons'). This should match the ShareToolsTemplate value in config.json


$version: "0.1.46";

@import "_media_query";
@import "_hero";
@import "_quiz";
@import "_results";
@import "_graph";
@import "_share";
@import "_lang";

html body .full-frame-scaffold-news-banner {
    z-index:999;
}

html body .bbc-news-vj-wrapper--iframe .bbc-news-vj-grid-wrapper {
    max-width:none;
    @media(min-width:1280px){
        margin: 0 auto;
    }
}

.bbc-news-vj-wrapper {

    max-width:none;
    padding-top: 0;

    input[type="submit"],
    input[type="button"],
    button {
        @extend %button--standard;

        color: #404040;
        border: 0;

        &:active, &:pressed {
            border: 0;
        }

        &:focus {
            background-color: #999;
        }

        &:hover {
            background-color: #999;
        }

        &:disabled {
            @extend %button--inactive;
            border: 0;
            width: 100%;
        }

        &.button--prev {
            @extend %button--cta-reverse;
        }

        &.button--next {
            @extend %button--cta;
        }

        &.button--reset {
            @extend %button--reset;
        }

        &.button--see-results {
            background-color: #2E8840;
            color: white;
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 300px;
            width: 100%;
            -webkit-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -moz-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -ms-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -o-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            &:hover {
                background-color: #44A042;
            }
        }
        &.button--reset-quiz {
            background-color: #2E8840;
            color: white;
            -webkit-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -moz-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -ms-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -o-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            &:hover {
                background-color: #44A042;
            }
        }
    }

    .bold-text {
        font-weight: 800;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }

    .tmpShareToolsHolder div.share__button {
        max-width: 195px;
    }

    .method--section {
        clear:both;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        z-index: 88;
    }

    .ns_creditsHolder {
        clear:both;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        z-index: 88;
    }

 }

// in sport page
.main .gel-mb {
    padding: 0;
    max-width: none;
}

