@import "./../../bower_components/normalize-scss/_normalize.scss";
@import "./../../bower_components/news-vj-css-defaults/css/main";
@import "./../../bower_components/sharetools/bin/templates/dropdown/share.scss"; // Developer: choose your sharetools of choice ('dropdown', 'buttons'). This should match the ShareToolsTemplate value in config.json

// YOUR APPLICATION CSS GOES BELOW

.bbc-news-vj-wrapper {

    // Developer:
    //  SASS placeholder selectors (i.e. `%button--standard`) mean that the corresponding CSS
    //  is only pulled into our CSS file if we use `@extend`.
    //  The CSS for the buttons, radio inputs and checkboxes amount to around 10KB, so only
    //  include these if you need them.

    input[type="submit"],
    input[type="button"],
    button {
        @extend %button--standard;

        color: #444;
        border: 0;

        &:active, &:pressed {
            border: 0;
        }

        &:hover {
            background-color: #999;
        }

        &:disabled {
            @extend %button--inactive;
            border: 0;
            width: 100%;
        }

        &.button--prev {
            @extend %button--cta-reverse;
        }

        &.button--next {
            @extend %button--cta;
        }

        &.button--reset {
            @extend %button--reset;
        }

        &.button--see-results {
            color: white;
            font-size: 2em;
            line-height: 2em;
            height: auto;
            margin:20px;
            width: 360px;
        }
        &.button--reset-quiz {
            color: white;
        }
    }

    select {
        @extend %form--select;
    }

    input[type="checkbox"] {
        @extend %form--checkbox;
    }

    input[type="radio"] {
        @extend %form--radio;
    }

    .section--hero {
        background-color:#333;
        padding:40px;
        margin:0;
        margin-bottom:40px;
    }

    .section--hero h1, .section--hero div, .section--hero p, {
        color: #fff;
    }

    .section--hero .age--button {
        background-color: #fff;
        border: 0;
        color: #000;
        display: block;
        text-align: center;
        width: 200px;
    }

    .section--hero .age--input {
        color: black;
        width: 75px;
        text-align: center;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }

    .quiz--body {
        text-align: center;
    }

    .question {
        background-color: #efefef;
        padding: 18px;
    }

    .question__icon {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 12px;
    }

    .question__number {}

    .question__text {
        font-size:1.75em;
        font-weight: 800;
        margin-top:0;
    }

    .question__feedback {
        background-color: #333;
        color: white;
        padding: 24px;
        text-align: center;
    }

    // higher specifity to override default bbc stylings on disabled buttons
    .questions .answers .answer--chosen {
        background-color: #990000;
        border: 0;
        color: white;
    }

    .button--answer {
        background-color: #bbb;
        width:100%;
    }

    .section--results {
        text-align:center;
    }

    .results {
        margin-top:24px;
    }

}
