@import "./../../bower_components/normalize-scss/_normalize.scss";
@import "./../../bower_components/news-vj-css-defaults/css/main";
@import "./../../bower_components/sharetools/bin/templates/dropdown/share.scss"; // Developer: choose your sharetools of choice ('dropdown', 'buttons'). This should match the ShareToolsTemplate value in config.json

$version: "0.1.88";

@import "_media_query";
@import "_hero";
@import "_quiz";
@import "_results";
@import "_graph";
@import "_share";
@import "_credits";
@import "_lang";
@import "_app";

html body .full-frame-scaffold-news-banner {
    z-index:999;
}

html body .bbc-news-vj-wrapper--iframe .bbc-news-vj-grid-wrapper {
    max-width:none;
    @media(min-width:1280px){
        margin: 0 auto;
    }
}

.bbc-news-vj-wrapper {

    max-width:none;
    padding-top: 0;

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    input[type="submit"],
    input[type="button"],
    button {
        @extend %button--standard;

        color: #ededed;
        border: 0;
        cursor: pointer;

        &:active, &:pressed {
            border: 0;
        }

        &:focus {
            background-color: #e0e0e0;
        }

        &:hover {
            background-color: #e0e0e0;
        }

        &:disabled {
            @extend %button--inactive;
            border: 0;
            width: 100%;
        }

        &.button--prev {
            @extend %button--cta-reverse;
        }

        &.button--next {
            @extend %button--cta;
        }

        &.button--reset {
            @extend %button--reset;
        }

        &.button--see-results {
            background-color: #266AB1;
            color: white;
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 300px;
            width: 100%;
            -webkit-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -moz-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -ms-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -o-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            &:hover {
                background-color: #195DA4;
            }
        }
        &.button--reset-quiz {
            background-color: #2E8840;
            color: white;
            -webkit-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -moz-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -ms-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            -o-transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            transition: background-color .3s ease,min-width .5s ease,color .3s ease,border-color .3s ease;
            &:hover {
                background-color: #217B33;
            }
        }
    }

    .fluid-inner {
        padding-left: 8px;
        padding-right: 8px;

        @media (min-width: 400px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media (min-width: 600px) {
            margin-left: 8.1%;
            margin-right: 8.1%;
        }

        @media (min-width: 800px) {
            margin-left: 16.4%;
            margin-right: 16.4%;
        }
    }

    .bold-text {
        font-weight: 800;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }

    .tmpShareToolsHolder div.share__button {
        max-width: 195px;
    }

 }

// in sport page
.main .gel-mb {
    padding: 0;
    max-width: none;
}

